@font-face {
    font-family: 'PoiretOne';
    src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    background-color: #ffeee6;
}

.pageContainer {
    display: flex;
    align-items: center;

    height: 1000px;
    min-width: 1200px;

    border-radius: 20px;
    margin: 75px 200px;

    /* Allows border-radius to be 'inherited' */
    overflow: hidden;

    background-color: #eee;
}

.splashContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    flex: 0.7;
    height: 100%;

    /* placeholder styles */
    background: url("../img/brecht-denil-The\ interior\ of\ a\ car\ with\ a\ steering\ wheel\ and\ dashboard-unsplash.jpg");
    background-size: cover;
}

.logoContainer{
    flex: 0;
    text-align: center;

    margin-top: 200px;

    /* placeholder styles */
    background-color: rgba(0, 0, 0, 0.5);
}

.logoContainer h1 {
    display: flex;
    justify-content: center;

    font-family: 'PoiretOne', Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: #eee;

    margin: 0;
}

svg {
    color: #eee;
    margin: 0;
    padding: 0;

    height: 100px;
    width: 100px;
    rotate: -90deg;
}

.photoCredit {
    flex: 0;
    text-align: center;

    padding: 10px;

    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
}

.photoCredit a,
.photoCredit a:hover,
.photoCredit a:link,
.photoCredit a:active,
.photoCredit a:visited {
    color: #eee;
}

form {
    display: flex;
    flex-flow: column;

    flex: 1;
    height: 100%;

    font-family: Roboto, Helvetica, Arial, sans-serif;
}

form .formDescription,
form .submitContainer {
    flex: 1 0 0;
    background-color: #ffe6b3;
}

.formDescription {
    display: flex;
    flex-flow: column;
    justify-content: end;

    padding: 0 120px 20px 50px;

    font-size: 23px;
    font-weight: 500;
}

.formDescription p {
    padding: 0;
}

.formContainer {
    display: flex;
    flex-flow: column;

    justify-content: space-around;

    padding: 30px 50px;
    gap: 20px;

    background-color: #fff7e6;

    position: relative;
    box-shadow: 0 2px 6px #aaa;
}

.formContainer p {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}

.formContainer label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

.formRow {
    display: flex;
    gap: 70px;
}

.formRow input {
    appearance: none;
    display: block;
    font-size: 16px;
    padding: 6px 12px;

    border: 1px solid #ccc;
    border-radius: 3px;
}

.formRow input:focus {
    outline: 0;
    border: 1px solid #ffcc00;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    transition: all 0.3s linear;
}

.formRow .isValid {
    border: 1px solid #00cc00;
    background-color: #ccffcc;
}

.formRow .isInvalid {
    border: 1px solid #ff5050;
    background-color: #ffcccc;
}

.formRow .errorMsg {
    position: absolute;

    font-size: 12px;
    color: red;
}

.submitContainer {
    padding: 30px 0 0 50px;
}

.submitContainer button {
    background-color: rgb(153, 92, 0, 0.8);
    color: #eee;

    font-size: 1.1em;
    font-weight: 800;

    padding: 15px 50px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submitContainer button:hover {
    background-color: rgb(153, 92, 0, 0.6);
    cursor: pointer;
    transition: all 0.1s linear;
}

.submitContainer button:active {
    background-color: rgb(153, 92, 0, 1);
}

.submitContainer p {
    font-size: 18px;
    font-weight: 400;
}

.submitContainer p a {
    text-decoration: none;
    color: #995c00;
    font-weight: 800;
}

.submitContainer p a:hover {
    text-decoration: underline;
}