@font-face {
    font-family: 'PoiretOne';
    src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
}

.pageContainer {
    display: flex;
    align-items: center;

    height: 1000px;
    min-width: 1200px;

    border-radius: 20px;
    margin: 75px 200px;

    /* Allows border-radius to be 'inherited' */
    overflow: hidden;

    background-color: #eee;
}

.splashContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    flex: 0.7;
    height: 100%;

    /* placeholder styles */
    background: url("../img/brecht-denil-The\ interior\ of\ a\ car\ with\ a\ steering\ wheel\ and\ dashboard-unsplash.jpg");
    background-size: cover;
}

.logoContainer{
    flex: 0;
    text-align: center;

    padding: 0 50px;
    margin-top: 200px;

    /* placeholder styles */
    background-color: rgba(0, 0, 0, 0.5);
}

.logoContainer h1 {
    font-family: 'PoiretOne', Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: #eee;

    margin: 0;
}

.photoCredit {
    flex: 0;
    text-align: center;

    padding: 10px;

    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
}

.photoCredit a,
.photoCredit a:hover,
.photoCredit a:link,
.photoCredit a:active,
.photoCredit a:visited {
    color: #eee;
}

form {
    display: flex;
    flex-flow: column;

    flex: 1;
    height: 100%;

    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

form .formDescription,
form .submitContainer {
    flex: 1 0 0;
}

.formDescription,
.submitContainer {
    background-color: #ddd;
}

.formDescription {
    display: flex;
    flex-flow: column;
    justify-content: end;

    padding: 0 150px 20px 50px;
}

.formDescription p {
    padding: 0;
}

.formContainer {
    display: flex;
    flex-flow: column;

    justify-content: space-around;

    padding: 30px 50px;
    gap: 20px;

    background-color: #eee;
}

.formContainer p {
    font-weight: 500;
}

.formContainer label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

.formContainer p {
    margin: 0;
}

.formRow {
    display: flex;
    gap: 70px;
}

.formRow input {
    display: block;
}

.submitContainer {
    padding: 30px 0 0 50px;
}

.submitContainer button {
    background-color: brown;
    color: #eee;

    font-size: 1.1em;
    font-weight: 800;

    padding: 15px 50px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submitContainer p {
    font-weight: 400;
}